@model ContatoModel
@{
    ViewData["Title"] = "Apagar contacto";
}

<div class="text-center">
    <br />
    <h3>Tem certeza que deseja apagar este contacto?</h3>
    <br />
</div>


<div class="d-grid gap-2">
    <a class="btn btn-success">Confirmar</a>
    
    <a class="btn btn-danger" asp-controller="Contato" asp-action="Index">Cancelar</a>
</div>
